@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* .slide1text{
    opacity: 1;
} */
.fade-anim img{
    animation: fadeAnim 2s
    ease-out;
}
@keyframes fadeAnim{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.8;
    }
}
#box {
  position: relative;
  background-image: url("/assets/seller.png");
  /* background-color: blue; */
  width: 85%;
  box-sizing: border-box;
  border: solid transparent;
  /* border-width: 40vh 80vh; */
  /* border-top-color: blue;
  border-right-color: blue; */
}

#box1 {
    position: absolute;
    background-image: url("/assets/buyer.png");
    /* background-color: red; */
    width:70%;
    /* height: ; */
    box-sizing: border-box;
    border: solid transparent;
    /* border-width: 40vh 80vh; */
    /* border-top-color: blue;
    border-right-color: blue; */
  }
  .rectangle-container {
    position: relative;
    width: 100px; /* Set your desired width */
    height: 50px; /* Set your desired height */
  }
  

  .rectangle {
    position: relative;
    width: 200px; /* Adjust width according to your design */
    height: 100px; /* Adjust height according to your design */
  }
  
  .triangle {
    position: absolute;
  }
  
  /* You may need to adjust positioning and size based on your requirements */
  
/* #box::after {
  position: absolute;
  background-image: url("/assets/buyer.png");
  content: '';
  border: solid transparent;
  border-width: 40vh 80vh;
  border-bottom-color: red;
  border-left-color: red;
  transform: translate(-50%, -49%); */
  /* Change -40% to -50% if you want the two triangle to stick */
/* } */
#zoom{
    transition: ease-in 0.5s;    
}
.initial{
    transform: scale(1.1)
}
#zoom:hover{
    transform: scale(1.1)
}
.triangle1{
  transform: scale(0.9);
}
.triangle2{
  transform: scale(0.8)
}
#zooms{
  transition: ease-in 0.2s;
}
#zooms:hover{
  transform: scale(1.0)
}


@tailwind base;
@tailwind components;
@tailwind utilities;

